{% extends 'base.html'%}
{% block content %}
<header class="bg-dark ">
            <div class="container px-4 px-lg-5 my-2">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">About Us ...</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Welcome to our Coffee Shop here we got your test .... </p>
                </div>
            </div>
        </header>

        <div class="container">
         <div class='row'>
           <center>
            <div class="col-8">
                 <br/><br/>
             <p align="justify">
              
             Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Nulla eget accumsan nisi, quis convallis metus.
               Aenean tincidunt imperdiet nibh. Donec egestas erat aliquet nisl maximus rhoncus.
                Nam metus tellus, feugiat eget sagittis a, pharetra et mauris. Mauris ligula nunc,
                 vehicula ac scelerisque eu, volutpat sed nunc. Vestibulum imperdiet justo felis, at rutrum lorem tristique vitae.
                  Mauris auctor vitae lorem a pellentesque. Etiam id diam non justo feugiat posuere. Mauris rutrum blandit tristique.
                   Praesent eu quam neque. Sed at elit odio. Nulla nec convallis nulla. Mauris aliquam nunc odio, quis pulvinar augue facilisis in.
                <br/><br/>
             Phasellus vitae rutrum urna. Proin eu mi eget orci iaculis sagittis. Mauris sit amet facilisis nisi.
              Sed aliquet arcu sem, a maximus eros consectetur at. Sed dapibus lectus eu dapibus gravida. Aenean commodo elementum odio faucibus efficitur. 
              Suspendisse sagittis semper nisl, et pellentesque mi dictum nec. Duis pharetra turpis quis nisl accumsan faucibus. Fusce venenatis tellus et eleifend aliquet.
               Proin nec ornare leo.
                <br/><br/>

             Nunc a erat at est tristique elementum et at nulla. Aenean condimentum commodo massa eu congue. 
             Curabitur ornare euismod aliquet. Nunc blandit et libero vitae porttitor. Aliquam commodo nunc a justo venenatis cursus.
              Aliquam mollis malesuada sem et efficitur. Aliquam vestibulum risus vel tellus vestibulum venenatis. Donec non pellentesque purus.
               <br/><br/>
             </p>
            </div>
           </center>
         </div>
        </div>
{% endblock%}