{% extends 'base.html'%}
{% block content %}

 <br/><br/>
<div class="container">
    <div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{{ products.image.url }}" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{ products.name}}</h5>
                   {{products.description}}
                   <br/><br/>
                   {{products.price}}
               <br/><br/>
       <a href="{% url 'home'%}" class="btn btn-secondary">Home</a>
      </div>
    </div>
  </div>
</div>
</div>
<br/><br/>
<br/><br/>
<br/><br/>

{% endblock%}